@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap');/*Importa fuentes de Google Fonts*/

body {
  margin: 0;
  padding: 0;
  background-color: #2f4538;
  color: white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  color: white;
  text-decoration: none;
}

/*Fin del body*/

h1, h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
/*Fin de la tipografía*/

header {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 0;
}
  
header img {
  height: 5em;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

/*Fin del header*/

.a-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-i img{
  width: 200px;
  border-radius: 10rem;
}

.about-t {
  max-width: 70%;
}

/*Fin de la sección about*/

.a-projects {
  text-align: center;
}
.a-sections {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.a-sections section {
  height: auto;
  width: 15rem;
  background: #000000;
  border-radius: 2rem;
  margin: 2rem;
}

/*Fin de la seccion projects*/

footer {
  background-color: black;
  color: white;
  text-align: center;
}

footer small {
  display: block;
  color: #2f4538;
}

footer ul {
  list-style: none;
}

.footer_left, .footer_right{
  background-color: rgb(0, 0, 0);
  display: inline-block;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  margin-top: 0;
}
/*Fin del footer*/
